<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.web.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>menu</servlet-name>
        <jsp-file>/menu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/start-jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>find</servlet-name>
        <jsp-file>/find.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>find</servlet-name>
        <url-pattern>/find-jsp</url-pattern>
    </servlet-mapping>
</web-app>